// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$template-angular-navigation-primary: mat.define-palette(mat.$indigo-palette);
$template-angular-navigation-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$template-angular-navigation-primary-dark: mat.define-palette(mat.$light-blue-palette);
// $template-angular-navigation-accent-dark: mat.define-palette(mat.$teal-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$template-angular-navigation-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$template-angular-navigation-theme: mat.define-light-theme(
    (
        color: (
            primary: $template-angular-navigation-primary,
            accent: $template-angular-navigation-accent,
            warn: $template-angular-navigation-warn,
        ),
    )
);

$template-angular-navigation-theme-dark: mat.define-dark-theme(
    (
        color: (
            primary: $template-angular-navigation-primary-dark,
            accent: $template-angular-navigation-accent,
            warn: $template-angular-navigation-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($template-angular-navigation-theme);

:root {
    --color-primary: #{mat.get-color-from-palette($template-angular-navigation-primary, 500)};
    --color-accent: #{mat.get-color-from-palette($template-angular-navigation-accent, A200)};
    --color-accent-text: #{mat.get-color-from-palette($template-angular-navigation-accent, A200-contrast)};

    .dark-theme {
        // to prevent The same density styles are generated multiple times
        // use "all-components-colors" instead
        // This mixin only generates the color styles now.
        @include mat.all-component-colors($template-angular-navigation-theme-dark);

        --color-primary: #{mat.get-color-from-palette($template-angular-navigation-primary-dark, 500)};
        --color-accent: #{mat.get-color-from-palette($template-angular-navigation-accent, A200)};
        --color-accent-text: #{mat.get-color-from-palette($template-angular-navigation-accent, A200-contrast)};
    }
}
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// disable zoom-in when entering input fields in mobile
@media screen and (max-width: 767px) {
    input,
    textarea,
    select {
        font-size: 16px !important;
    }
}
